{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Placement</title>
	<script src="{% static "home/jquery-3.4.1.js" %}"></script>
    <script src="{% static "home/ajaxStudent.js" %}"></script>
	
</head>
<body>
	<h1>Placement Details Of Students</h1>
    

    <h3>Search here</h3>
    <form id="dsearchform">{% csrf_token %}
    <input type="text" id="searchStudent" name="searchStudent" />
    </form>
    
    <div id="search_results"></div>
 
    <ul id="mainlist">
    <table border="1" width="100%">
    <tr>
	<td>Name</td>
	<td>Program</td>
	<td>Branch</td>
	<td>Roll No.</td>
	<td>Placed</td>
	<td>Company</td>
	<td>Day</td>
	<td>Slot</td>
	<td>Sector</td>
	<td>Profile</td>
	</tr>
	{% for student in allstudents %}

	<tr>
	<td> {{ student.name }}</td>
	<td> {{ student.programs }}</td>
	<td> {{ student.branch }}</td>
	<td>{{ student.roll }}</td>
	{% if student.placed is False %}
	<td> {{ "Not Placed" }}</td>
	<td> {{ "-" }}</td>
	<td> {{ "-" }}</td>
	<td> {{ "-" }}</td>
	<td> {{ "-"}}</td>
	<td> {{ "-" }}</td>
	{% else %}
	<td> {{ "Placed" }}</td>
	<td> {{ student.company }}</td>
	<td> {{ student.day }}</td>
	<td> {{ student.slot }}</td>
	<td> {{ student.sector}}</td>
	<td> {{ student.profile }}</td>
	{% endif %}
	</tr>
	{% endfor %}
	</table>


	</ul>


	<script>
	document.getElementById("dsearchform").reset();

	</script>

	</body>
	</html>