{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Students</title>
     <script src="{% static "home/jquery-3.4.1.js" %}"></script>
    <script src="{% static "home/ajax.js" %}"></script>
</head>

<body>
    <h3>Search here</h3>
    <form id="dsearchform">{% csrf_token %}
    <input type="text" id="search" name="search" />
    </form>

    <div id="search_results"></div>

	<ul id="mainlist">
	{% for student in students %}
	<li>Name:
		<a href="{% url 'home:studentDetails' student.id %}">
		 {{student.name}}
		</a>
		<br>
		Branch: {{student.branch.get_branchName_display}}
		<br>
        Roll No: {{ student.roll}}
		<hr>

	</li>
	{% endfor %}
	</ul>

<script>
    document.getElementById("dsearchform").reset();

</script>


</body>
</html>


