<!DOCTYPE html>
<html>
<head>
	<title>{{student.name}}</title>
</head>
<body>
	<strong>{{student.name}}</strong>
			{{student.program}}
			{{student.branch.get_branchName_display}}
			<hr>
			{% if student.placed is False %}
			<form method="POST" name="myform" id="myform" onsubmit="return func() ">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit" value="Save" id="submit">
			</form>
			{% else %}
			<ul>
				<li>{{student.company}}</li>
				<br>
				<li>{{student.profile}}</li>
				<br>
				<li>{{student.sector}}</li>
				<br>
			</ul>
			<!-- <form method="POST" >
				{% csrf_token %}
			<button id="edit" onclick="editfunc()" >Edit</button></form> -->
			<form method="POST" action="{%url 'home:changestatus'%}" >
				{% csrf_token %}
				<input type="hidden" id="custId" name="student_id" value="{{student.id}}">
			<button id="chstatfunc" type="submit">Change Status</button>
			</form>
			<!-- <script type="text/javascript">
				
					$("#chstatfunc").click(function(){
						alert("hello")
						  $.post("{url 'home:changestatus'}", { id: {{student.id}}}, function(data, status){
						    alert("Data: " + data + "\nStatus: " + status);
						  });
						});			
				
				</script> -->
			{% endif %}
<script>

    var el=document.getElementsByTagName("input")
    var sub= document.getElementById("submit")
    function func() {
        let x=true;
        console.log(el)
        for (let i = 0;i < el.length;i++)
        {
            if (el[i].value.length == 0) {
                x=false;
                console.log(x);

            }

        }
        var slot=document.getElementById("id_slot")
        if(slot.value.length == 0)
        {
            x=false
        }
        if(x===false)
        {
             alert("PLease fill all fields");
        }
        return x;
    }

</script>

</body>
</html>